<div class="row">
  <div class="col-md-6 signup-background">
    <div>
      <div class="signup-title d-flex align-items-center">
        <img src="assets/star.png" alt="" style="width: 89px; height: 89px;">
        <span>Website name</span>
      </div>
      <ul class="signup-subtitle">
        <li>Interactive</li>
        <li>Relaxing</li>
        <li>Privacy</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 signup-form">
    <form class="col-md-7">
      <div class="control">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="control">
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="d-flex justify-content-between control">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Remember me
          </label>
        </div>

        <a href="">Forget password?</a>
      </div>
      
      <button type="button" class="btn btn-dark btn-lg btn-block">Sign in 
        <img src="/assets/icons/arrow-right.svg" alt="" width="11.69px" height="11.69px">
      </button>
    </form>
      <div class="divide">
        <h5><span>or</span></h5>
      </div>

      <div class="external-login"></div>
      <div class="create-account">
        <span>Not a member?  Create a account</span>
      </div>
  </div>
</div>